# Python
__pycache__/
*.pyc

# Node
node_modules/

# Build outputs
dist/
build/
*.spec

# Packaged app (IMPORTANT)
packaged_app/

# Logs & runtime data
data/
trojan/data/
*.json

# Keys
key.txt

# OS
.DS_Store
